*{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' !important;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100% !important;
   background: url('images/photo') no-repeat;
   background-size: cover;
   background-position: center;
   animation: animateBg 5s infinite;
}
@keyframes animateBg {
    100%{
        filter: hue-rotate(360deg);
    }
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(35px);
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0 !important;
    border-bottom: 2px solid #fff;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 8s;
}
.input-box input:focus ~ label,
.input-box input:valid ~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px !important;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}
button{
    width: 100%;
    height: 40px;
    background-color: #ffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}
@media (max-width:500px) {
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .input-box{
        width: 290px;
    }
}